.avatar-frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.avatar-circle-frame {
  /*
  margin-right: 0 5px; */
  padding: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 80px;
  width: 80px;
}

.avatar-info-frame {
    /* padding-left: 10px; */
    margin-left: 5px;
    padding-top: 10px;
    color: #FFFFFF;

    height: 100%;
    display: flex;
    align-items: flex-start;
}

.avatar-info-frame span {
    display: block;
    font-weight: bold;
}

.avatar-info-frame .avatar-profile-name{
  font-weight: bold;
  font-size: 20px;
}

/* h1 {
    color: #1D1D1D;
    font-family: futura;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}

h2 {
    font-size: 12px;
}

span {
    font-size: 10px;
} */
