<div class="addQuestForm">
    <label>Titre se la quête : <input name="title" type="text" [formControl]="title" class="inputText"></label>
    <label>Description se la quête : <input name="description" type="text" [formControl]="description" class="inputText"></label>
    <label>Icone se la quête (DEV) : <input name="icon" type="text" [formControl]="icon" class="inputText"></label>
    <label>Identifiant se la quête (DEV) : <input name="id" type="number" [formControl]="id" class="inputText"></label>
    <button class="submitButton" (click)="submitQuest()">Soumettre quête</button>
</div>
