<h3 (click)="develop()">
  Quêtes <span *ngIf="context!='profile'">({{nbAvailableQuests}})</span>
  <span *ngIf="developped">-</span>
  <span *ngIf="!developped">+</span>
</h3>

<div *ngIf="developped">
  <div class="toDo" *ngIf="context!='profile'">
    <h1>À faire</h1>
    <app-quest *ngFor="let quest of toDo" [quest]="quest" [context]="context" [type]="typeTodo">{{quest}}</app-quest>
  </div>
  <div class="onGoing">
    <h1>En cours</h1>
    <app-quest *ngFor="let quest of onGoing" [quest]="quest" [context]="context" [type]="typeOngoing">{{quest}}</app-quest>
  </div>
  <div class="done">
    <h1>Finies</h1>
    <app-quest *ngFor="let quest of done" [quest]="quest" [context]="context" [type]="typeDone">{{quest}}</app-quest>
  </div>
</div>
