
<div class="quest-list-frame" (load)="this.ngxSmartModalService.getModal('addQuestModal').open()">
  <div class="quest-list-frame-inner">
    <div class="quest-list-slider-button" (click)="develop()">
      <!-- Quêtes ({{nbAvailableQuests}}) -->
      <span *ngIf="developped">{{ title }} ▲ </span>
      <span *ngIf="!developped">{{ title }} ▼ </span>
    </div>

    <div class="quest-list-slider-content-frame">
      <div *ngIf="questList" class="quest-list-slider-content-inner-frame">
        <!-- <app-quest-item [member_icons]="'../../assets/IconeQuetePlusieurs+.png'"></app-quest-item> -->
        <app-quest-item *ngFor="let quest of questList.todo" [quest]="quest" [context]="context" [type]="typeTodo"></app-quest-item>
        <app-quest-item *ngFor="let quest of questList.ongoing" [quest]="quest" [context]="context" [type]="typeTodo"></app-quest-item>
        <app-quest-item *ngFor="let quest of questList.done" [quest]="quest" [context]="context" [type]="typeTodo"></app-quest-item>

      </div>
  </div>