<div class="garden-view">
  <div class="garden-container">
      <div  class="garden-page-margins garden-profile-toast" routerLink="/profil">
          <app-profile-toast></app-profile-toast>
      </div>

      <div class="garden-page-margins garden-map-container">
        <div class="garden-floating-map">
          <app-floating-map></app-floating-map>
        </div>
      </div>
  </div>

  <app-add-quest-form></app-add-quest-form>
  <div class="garden-quest-list-container">
    <app-quest-list [title]="'Quêtes'" [questList]="questList" [context]="context"></app-quest-list>
  </div>

<div>
