.garden-view{
  height: 100vh;
  width: 100% !important;
  background-color: #b3d9b7;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.garden-page-margins {
    /* width: 250px; */
}

.garden-container {
    padding: 10px 5px 5px 5px;
    box-sizing: border-box;

}

.garden-map-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.garden-floating-map {
  margin: 0 5%;
  width: 80%;
  height: 40%;
}
.map_garden {
    width: 100%;
}

.garden-profile-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.garden-quest-list-container{
  height: 100%;
  width: 100%;
  position: relative;
}

.garden-add-quest {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  height: 50px;
  width: 50px;
}
