<!-- <ngx-smart-modal #myModal identifier="myModal">
  <div class="home-connection-modal">
    <span>Se connecter</span>
    <label for="username">Username</label>
    <input id="username" type="text"/>
    <label for="password">Password</label>
    <input id="password" type="text"/>

    <button (click)="myModal.close(); connectUserByPassword()">Je me connecte !</button>
    <div>
      <span class="span-a" (click)="myModal.close(); connectUserByPassword()">Créer un compte</span>
    </div>
  </div>
</ngx-smart-modal> -->


<div class="garden-view">
  <div class="garden-container">
      <div  class="garden-page-margins garden-profile-toast" routerLink="/profil">
          <app-profile-toast></app-profile-toast>
      </div>

      <div class="garden-page-margins garden-map-container">
        <div class="garden-floating-map">
          <app-floating-map></app-floating-map>
        </div>
      </div>
  </div>

  <app-add-quest-form></app-add-quest-form>
  <div class="garden-quest-list-container">
    <app-quest-list [title]="'Quêtes'" [questList]="questListService.currentList" [context]="context"></app-quest-list>
  </div>

<div>
