
.button-gradient {
  background: rgba(248,147,44,1);
  background: -moz-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,147,44,1)), color-stop(52%, rgba(248,147,44,1)), color-stop(100%, rgba(244,116,56,1)));
  background: -webkit-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -o-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: linear-gradient(to bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8932c', endColorstr='#f47438', GradientType=0 );
}



.button-wrapper {
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  width: 250px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.43);
}

.button-wrapper button {
  all: unset;
  width: 80%;
  height: 60%;

  border-radius: 10px;

  text-align: center;
  color: #FFFFFF;
  font-weight: bold;


  background: rgba(248,147,44,1);
  background: -moz-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,147,44,1)), color-stop(52%, rgba(248,147,44,1)), color-stop(100%, rgba(244,116,56,1)));
  background: -webkit-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -o-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: linear-gradient(to bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8932c', endColorstr='#f47438', GradientType=0 );

  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(240,93,53,1),0px -2px 0px 0px rgba(253,175,61,1);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(240,93,53,1),0px -2px 0px 0px rgba(253,175,61,1);
  box-shadow: inset 0px -2px 0px 0px rgba(240,93,53,1),0px -2px 0px 0px rgba(253,175,61,1);

}

.button-wrapper:active button {
  background: rgba(248,147,44,1);
  background: -moz-linear-gradient(bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(248,147,44,1)), color-stop(52%, rgba(248,147,44,1)), color-stop(100%, rgba(244,116,56,1)));
  background: -webkit-linear-gradient(bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -o-linear-gradient(bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: -ms-linear-gradient(bottom, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  background: linear-gradient(to top, rgba(248,147,44,1) 0%, rgba(248,147,44,1) 52%, rgba(244,116,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8932c', endColorstr='#f47438', GradientType=0 );

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
