<ngx-smart-modal #myModal identifier="myModal">
  <h1>Title</h1>
  <p>Some stuff...</p>

  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>


<ngx-smart-modal #avatarModal identifier="avatarModal">
  <div class="avatar-image-container">
    <!-- <img src="../../assets/PersoPimpe.png"/> -->
    <img  *ngIf="this.connectedUserService.userProfile.id === 1" src="../../assets/PersoPimpe.png"/>
      <img *ngIf="this.connectedUserService.userProfile.id === 2" src="../../assets/character2.png"/>
    <!-- <div class="item-frame">
      <div class="item-header">Vos items</div>
      <div class="item-frame-inner">
        <div class="item-container">
          <img src="../../assets/ChapeauItem.png"/>
        </div>
        <div class="item-container">
          <img src="../../assets/Lunettes2.png"/>
        </div>
        <div class="item-container">
          <img src="../../assets/Pelle.png"/>
        </div>
        <div class="item-container">
          <img src="../../assets/Arrosoir.png"/>
        </div>
      </div>
    </div> -->
  </div>
</ngx-smart-modal>

<div class="profile-frame">

  <div class="profile-user-info">
    <div class="quitter profile-user-button-wrapper">
      <app-button [text]="'Quitter'" routerLink="/home"></app-button>
    </div>
    <div (click)="ngxSmartModalService.getModal('avatarModal').open()" class="profile-user-avatar-wrapper">
      <img class="profile-user-avatar-1" *ngIf="this.connectedUserService.userProfile.id === 1" src="../../assets/character1.png"/>
      <img class="profile-user-avatar-2"  *ngIf="this.connectedUserService.userProfile.id === 2" src="../../assets/character2.png"/>
    </div>
    <div class="profile-user-button-wrapper">
      <app-button [text]="'Voir le jardin'" routerLink="/jardin"></app-button>
    </div>
  </div>
  <div class="profile-name-and-xp">
    <div class="profile-name">{{connectedUserService.userProfile.name}}</div>
    <div class="profile-xp">XP : {{connectedUserService.userProfile.experience}}</div>
  </div>

  <img (click)="addQuest()" class="profile-add-quest" src="../../assets/Icone+.png"/>

  <div class="profile-content-section">
    <div class="profile-content-section-half-circle"></div>
    <div class="profile-content-section-inner">

      <!-- Quest section -->
      <div class="profile-content-section-quest-wrapper">
        <div class="profile-content-section-xp-bar-wrapper">
          <div class="profile-content-section-xp-bar-outer">
            <div class="profile-content-section-xp-bar-inner">
            </div>
          </div>
          <img src="../../assets/Etoile.png"/>
        </div>

        <div class="profile-content-section-my-quests">
          <div class="profile-content-section-my-quests-button"></div>
          <div class="profile-content-section-my-quests-frame orange-gradient">
            <div class="profile-content-section-my-quests-inner-frame">
              <div *ngIf="questListService.currentList" class="profile-content-section-my-quests-inner-frame">
                <app-quest-item *ngFor="let quest of questListService.currentList.todo" [quest]="quest" [context]="context" [type]="'todo'"></app-quest-item>
                <app-quest-item *ngFor="let quest of questListService.currentList.ongoing" [quest]="quest" [context]="context" [type]="'ongoing'"></app-quest-item>
                <app-quest-item *ngFor="let quest of questListService.currentList.done" [quest]="quest" [context]="context" [type]="'done'"></app-quest-item>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-left: 5px" class="profile-content-section-xp-bar-wrapper">
          <div style="background-color: #c62828;" class="profile-content-section-xp-bar-outer">
            <div style="background-color: rgba(255,255,255,0.25)" class="profile-content-section-xp-bar-inner">
            </div>
          </div>
          <img src="../../assets/heart.png"/>
        </div>
      </div>

      <!-- Badge section -->
      <div class="profile-content-section-badge-wrapper">
        <span class="profile-content-section-badge-title">Mes Badges</span>
        <div class="profile-content-section-badge-list">
          <app-badge-list [badges]="this.connectedUserService.userProfile.listBadge"></app-badge-list>
        </div>
      </div>

    </div>
  </div>
</div>
