/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/ngx-smart-modal/ngx-smart-model.css" */
/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal.css";
/* @import "app/app.component"; */

*{
  box-sizing: border-box;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  -ms-transition:all 0.5s linear;
  transition:all 0.5s linear;
}
