/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/ngx-smart-modal/ngx-smart-model.css" */
/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal.css";
/* @import "app/app.component"; */
@media only screen and (min-width: 800px) {
  .app-container{
    width:1000px;

  }
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #b3d9b7 !important; /*background color*/

}

*{
  box-sizing: border-box !important;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  -ms-transition:all 0.5s linear;
  transition:all 0.5s linear;
}
